:root {
  font: 1rem/1.3 "Roboto", sans-serif;
  text-align: center;
  background: #0a1f44;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
}
